:root {
  --primary: #4285f4;
}

.main-content {
  margin: 20px;
  max-width: 600px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form-elem {
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  justify-content: flex-end;
}

.form-control:valid {
  border-width: 3px!important;
}

.positive .form-control:valid {
  border-color: green!important;
}

.average .form-control:valid {
  border-color: orange!important;
}

.negative .form-control:valid {
  border-color: #ff0000!important;
}

a.not-underlined {
  padding-right: 10px;
  text-decoration: none;
}

.show-on-hover {
  display: none;
}

a:hover + .show-on-hover {
  display: inline;
}

.form-control {
  width: 160px;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.report-number {
  padding: 5px;
  margin: 8px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

div.jumbotron {
  background-color: white;
}

div.container {
  width: 80%;
  text-align: center;
  background-color: white;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  font-weight: normal;
}
th, td {
  padding: 10px;
}
hr.title {
  border: 5px solid var(--primary);
  border-radius: 2px;
}
hr.separator {
  border: 2px solid black;
  border-radius: 1px;
}
hr.minor {
  border-top: 1px dashed black;
}

div.form-row {
  justify-content: center;
}

.navbar-blue {
  background-color: var(--primary) !important;
  color: white;
}
.navbar-brand, .nav-item, .nav-link {
  color: white;
}
.nav-item {
  font-size: 18px;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
button.navbar-toggler {
  background-color: var(--primary);
  border-color: var(--primary);
}
.footer {
  background-color: var(--primary) !important;
  color: #ccc;
}
