<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}CovidUCI-EC{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    {% block links %}{% end %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-blue fixed-top bg-dark">
        <a class="navbar-brand" href="#">COVIDUCI-EC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <!-- active">//-->
                    <a class="nav-link" href="\">Inicio <span class="sr-only">(current)</span></a>
                </li>
                {% if user != 'none'  and user != 'admin' and user != 'ministerio' %}
                  <li class="nav-item">
                      <a class="nav-link" href="\show">Datos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="\update">Actualizar</a>
                  </li>
                {% end %}
                {% if user == 'admin' %}
                  <li class="nav-item">
                      <a class="nav-link" href="\add_hospital">Agregar hospital</a>
                  </li>
                {% end %}
                {% if user == 'admin' or user == 'ministerio' %}
                  <li class="nav-item">
                      <a class="nav-link" href="\list_hospitals">Lista de hospitales</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="\datos_completos">Datos completos</a>
                  </li>
                {% end %}
                {% if user != 'admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="\investigacion">Investigación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\mindfulness">Mindfulness</a>
                </li>
                {% end %}
                {% if user != 'none' %}
                  <li class="nav-item">
                      <a class="nav-link" href="\update_login">Cambiar login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="\logout">Salir</a>
                  </li>
                {% end %}
            </ul>

        </div>
    </nav>
</header>


<main role="main" class="container">
    <div class="jumbotron text-center">

            {% block error_messages %}

            {% end %}

            {% block content %}

            {% end %}


            <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                    crossorigin="anonymous"></script>
                    -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                    crossorigin="anonymous"></script>


            {% block scripts %}
            {% end %}
        </div>

</main>

<footer class="footer font-small blue">
  <div class="footer-copyright text-center py-3">
    Página web diseñada por <a href="https://twitter.com/pcastr" style="color:white;">Pablo Samuel Castro</a>&nbsp;&nbsp;<a href="https://twitter.com/pcastr?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-lang="es" data-show-count="false">Follow @pcastr</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
    Código disponible en <a href="https://github.com/psc-g/coviduci-ec" style="color:white;">GitHub</a>
  </div>
</footer>

</body>
</html>
