{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block content %}
<div class="container">
    <h1>Datos completos de todos los hospitales</h1>
    <hr class="title">

    {% if nodisp is not None %}
      <h2><font color="red">Elementos no disponibles</font></h2>
      <table style="width:100%">
        <tr><th>Hospital</th><th>Elementos</th></tr>
        {% for hospital in nodisp %}
          <tr>
            <th>{{display_name[hospital]}}</th>
            <th>{% for elem in nodisp[hospital] %} {{elem}}<br> {% end %}</th>
          </tr>
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if criticos is not None %}
      <h2><font color="red">Elementos en estado crítico</font></h2>
      <table style="width:100%">
        <tr><th>Hospital</th><th>Elementos</th></tr>
        {% for hospital in criticos %}
          <tr>
            <th>{{display_name[hospital]}}</th>
            <th>{% for elem in criticos[hospital] %} {{elem}}<br> {% end %}</th>
          </tr>
        {% end %}
      </table>

    <hr class="separator">
    {% end %}
    <h2>Estadísticas de pacientes</h2>
    <table style="width:100%">
      <tr><th>Hospital</th><th>Ingresados</th><th>De alta</th><th>Fallecidos</th></tr>
      {% for hospital in p_ingresos %}
        <tr><th>{{display_name[hospital]}}</th><th>{{p_ingresos[hospital]}}</th><th>{{p_alta[hospital]}}</th><th>{{p_fallecidos[hospital]}}</th>
      {% end %}
    </table>

    <hr class="separator">
    <h2>Estadísticas de camas</h2>
    <table style="width:100%">
      <tr><th>Hospital</th><th>Total UCI</th><th>En uso</th><th>Demanda insatisfecha</th></tr>
      {% for hospital in c_uci %}
        <tr><th>{{display_name[hospital]}}</th><th>{{c_uci[hospital]}}</th><th>{{c_usadas[hospital]}}</th><th>{{c_insatis[hospital]}}</th>
      {% end %}
    </table>

    <hr class="separator">
    <h2>Estadísticas de personal</h2>
    <table style="width:100%">
      <tr>
        <th>Hospital</th>
        <th>Médicos<br>(en cuarentena / Covid+)</th>
        <th>Enfermeros<br>(en cuarentena / Covid+)</th>
        <th>Auxiliares<br>(en cuarentena / Covid+)</th>
        <th>Terapistas respiratorios<br>(en cuarentena / Covid+)</th>
      </tr>
      {% for hospital in medicos%}
        <tr>
          <th>{{display_name[hospital]}}
          <th>{{medicos[hospital]}} ({{medicos_4[hospital]}} / {{medicos_c[hospital]}})</th>
          <th>{{enfermeros[hospital]}} ({{enfermeros_4[hospital]}} / {{enfermeros_c[hospital]}})</th>
          <th>{{auxiliares[hospital]}} ({{auxiliares_4[hospital]}} / {{auxiliares_c[hospital]}})</th>
          <th>{{ter_resp[hospital]}} ({{ter_resp_4[hospital]}} / {{ter_resp_c[hospital]}})</th>
        </tr>
      {% end %}
    </table>

    <hr class="separator">
    {% if medios is not None %}
      <h2>Elementos en estado medio</h2>
      <table style="width:100%">
        <tr><th>Hospital</th><th>Elementos</th></tr>
        {% for hospital in medios %}
          <tr>
            <th>{{display_name[hospital]}}</th>
            <th>{% for elem in medios[hospital] %} {{elem}}<br> {% end %}</th>
          </tr>
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if adecuados is not None %}
      <h2>Elementos en estado adecuado</h2>
      <table style="width:100%">
        <tr><th>Hospital</th><th>Elementos</th></tr>
        {% for hospital in adecuados %}
          <tr>
            <th>{{display_name[hospital]}}</th>
            <th>{% for elem in adecuados[hospital] %} {{elem}}<br> {% end %}</th>
          </tr>
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if n_a is not None %}
      <h2>Elementos sin información</h2>
      <table style="width:100%">
        <tr><th>Hospital</th><th>Elementos</th></tr>
        {% for hospital in n_a %}
          <tr>
            <th>{{display_name[hospital]}}</th>
            <th>{% for elem in n_a[hospital] %} {{elem}}<br> {% end %}</th>
          </tr>
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    <h2>Últimas actualizaciones</h2>
    <table style="width:100%">
      <tr><th>Hospital</th><th>Última actualización</th></tr>
      {% for hospital in actualizaciones %}
        <tr><th>{{display_name[hospital]}}</th><th>{{actualizaciones[hospital]}}</th></tr>
      {% end %}
    </table>
{% end %}
