{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
{% end %}

{% block content %}
<div class="container">
    <h1>Datos completos de todos los hospitales</h1>
    <hr class="title">

    {% if nodisp is not None %}
      <h2><font color="red">Elementos no disponibles</font></h2>
      <table style="width:100%">
        <tr>
          <th><b>Hospital</b></th>
          <th><b>Elementos</b></th>
        </tr>
        {% for hospital in nodisp %}
          {% if len(nodisp[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in nodisp[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if criticos is not None %}
      <h2><font color="red">Elementos en estado crítico</font></h2>
      <table style="width:100%">
        <tr>
          <th><b>Hospital</b></th>
          <th><b>Elementos</b></th>
        </tr>
        {% for hospital in criticos %}
          {% if len(criticos[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in criticos[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}
    <h2>Estadísticas de pacientes</h2>
    <table style="width:100%">
      <tr>
        <th><b>Hospital</b></th>
        <th><b>Ingresados (Covid)</b></th>
        <th><b>Ingresados (Sospecha covid)</b></th>
        <th><b>Ingresados (Otros)</b></th>
        <th><b>De alta (Covid)</b></th>
        <th><b>De alta (Otros)</b></th>
        <th><b>Fallecidos (Covid)</b></th>
        <th><b>Fallecidos (Sospecha covid)</b></th>
        <th><b>Fallecidos (Otros)</b></th>
      </tr>
      <tr>
        <th><b>Total</b></th>
        <th><b>{{p_ingresos['total']}}</b></th>
        <th><b>{{p_ingresos_sosp['total']}}</b></th>
        <th><b>{{p_ingresos_otros['total']}}</b></th>
        <th><b>{{p_alta['total']}}</b></th>
        <th><b>{{p_alta_otros['total']}}</b></th>
        <th><b>{{p_fallecidos['total']}}</b></th>
        <th><b>{{p_fallecidos_sosp['total']}}</b></th>
        <th><b>{{p_fallecidos_otros['total']}}</b></th>
      </tr>
      {% for hospital in p_ingresos %}
        {% if hospital == 'total' %}
          {% continue %}
        {% end %}
        <tr>
          <th>{{display_name[hospital]}}</th>
          <th>{{p_ingresos[hospital]}}</th>
          <th>{{p_ingresos_sosp[hospital]}}</th>
          <th>{{p_ingresos_otros[hospital]}}</th>
          <th>{{p_alta[hospital]}}</th>
          <th>{{p_alta_otros[hospital]}}</th>
          <th>{{p_fallecidos[hospital]}}</th>
          <th>{{p_fallecidos_sosp[hospital]}}</th>
          <th>{{p_fallecidos_otros[hospital]}}</th>
        </tr>
      {% end %}
    </table>

    <hr class="separator">
    <h2>Estadísticas de camas</h2>
    <table style="width:100%">
      <tr>
        <th><b>Hospital</b></th>
        <th><b>Total UCI</b></th>
        <th><b>En uso (Covid)</b></th>
        <th><b>En uso (Otros)</b></th>
        <th><b>Demanda insatisfecha</b></th>
      </tr>
      <tr>
        <th><b>Total</b></th>
        <th><b>{{c_uci['total']}}</b></th>
        <th><b>{{c_usadas['total']}}</b></th>
        <th><b>{{c_usadas_otras['total']}}</b></th>
        <th><b>{{c_insatis['total']}}</b></th>
      </tr>
      {% for hospital in c_uci %}
        {% if hospital == 'total' %}
          {% continue %}
        {% end %}
        <tr>
          <th>{{display_name[hospital]}}</th>
          <th>{{c_uci[hospital]}}</th>
          <th>{{c_usadas[hospital]}}</th>
          <th>{{c_usadas_otras[hospital]}}</th>
          <th>{{c_insatis[hospital]}}</th>
        </tr>
      {% end %}
    </table>

    <hr class="separator">
    <h2>Estadísticas de personal</h2>
    <table style="width:100%">
      <tr>
        <th><b>Hospital</b></th>
        <th><b>Médicos<br>(en cuarentena / Covid+)</b></th>
        <th><b>Enfermeros<br>(en cuarentena / Covid+)</b></th>
        <th><b>Auxiliares<br>(en cuarentena / Covid+)</b></th>
        <th><b>Terapistas respiratorios<br>(en cuarentena / Covid+)</b></th>
      </tr>
      <tr>
        <th><b>Total</b></th>
        <th><b>{{medicos['total']}} ({{medicos_4['total']}} / {{medicos_c['total']}})</b></th>
        <th><b>{{enfermeros['total']}} ({{enfermeros_4['total']}} / {{enfermeros_c['total']}})</b></th>
        <th><b>{{auxiliares['total']}} ({{auxiliares_4['total']}} / {{auxiliares_c['total']}})</b></th>
        <th><b>{{ter_resp['total']}} ({{ter_resp_4['total']}} / {{ter_resp_c['total']}})</b></th>
      </tr>
      {% for hospital in medicos%}
        {% if hospital == 'total' %}
          {% continue %}
        {% end %}
        <tr>
          <th>{{display_name[hospital]}}</th>
          <th>{{medicos[hospital]}} ({{medicos_4[hospital]}} / {{medicos_c[hospital]}})</th>
          <th>{{enfermeros[hospital]}} ({{enfermeros_4[hospital]}} / {{enfermeros_c[hospital]}})</th>
          <th>{{auxiliares[hospital]}} ({{auxiliares_4[hospital]}} / {{auxiliares_c[hospital]}})</th>
          <th>{{ter_resp[hospital]}} ({{ter_resp_4[hospital]}} / {{ter_resp_c[hospital]}})</th>
        </tr>
      {% end %}
    </table>

    <hr class="separator">
    {% if medios is not None %}
      <h2>Elementos en estado medio</h2>
      <table style="width:100%">
        <tr>
          <th><b>Hospital</b></th>
          <th><b>Elementos</b></th>
        </tr>
        {% for hospital in medios %}
          {% if len(medios[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in medios[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if adecuados is not None %}
      <h2>Elementos en estado adecuado</h2>
      <table style="width:100%">
        <tr>
          <th><b>Hospital</b></th>
          <th><b>Elementos</b></th>
        </tr>
        {% for hospital in adecuados %}
          {% if len(adecuados[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in adecuados[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    {% if n_a is not None %}
      <h2>Elementos sin información</h2>
      <table style="width:100%">
        <tr>
          <th><b>Hospital</b></th>
          <th><b>Elementos</b></th>
        </tr>
        {% for hospital in n_a %}
          {% if len(n_a[hospital]) %}
            <tr>
              <th>{{display_name[hospital]}}</th>
              <th>{% for elem in n_a[hospital] %} {{elem}}<br> {% end %}</th>
            </tr>
          {% end %}
        {% end %}
      </table>

    <hr class="separator">
    {% end %}

    <h2>Últimas actualizaciones</h2>
    <table style="width:100%">
        <tr>
          <th><b>Hospital</b></th>
          <th><b>Elementos</b></th>
        </tr>
      {% for hospital in actualizaciones %}
        <tr><th>{{display_name[hospital]}}</th><th>{{actualizaciones[hospital]}}</th></tr>
      {% end %}
    </table>
{% end %}
